html{
    scroll-behavior: smooth;
    font-family: 'Jua', sans-serif;
}
/*링크 관련*/
a{
    text-decoration: none;
}
a:visited{
    color:black;
}
a:hover{
    color:yellow;
}

/*상단바*/
.nav{
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}
.home{
    margin-left: 30px;
    font-size: 40px;
    font-weight: bold;
}
.nav-right-items{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    font-size: 30px;
}
.nav-item{
    margin-left: 20px;
    margin-right: 10px;
}

/*메인 홈*/

.main{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid gray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.container{
    padding-bottom: 50px;
    border-bottom: 2px solid gray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.title{
    margin-top: 60px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}
.subtitle{
    text-align: center;
}
.subtitle-sub{
    text-align: center;
    font-size: 40px;
    display: inline-block;
}
.picture{
    text-align: center;
    margin-top: 20px;
}
.content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

/*컨텐츠들*/
.con-title{
    text-align: center;
    padding-bottom: 40px;
}
.line{
    width:100px;
    height:3px;
    background-color: orange;
    margin: 10px auto;
}
.profile_img{
    display: flex;
    width: 600px;
}
table{
}
td{
    border: 1px solid black;
    text-align: center; 
    vertical-align: text-bottom;
}
th{
    background-color: whitesmoke;
    border: 1px solid black;
}
/*헤더에 가려서 안보이는 부분*/
.anchor{
    display: block;
    height: 84px;       /* 헤더의 height와 동일한 값 */
    margin-top: -84px;  /* 헤더의 height와 동일한 값 */
    visibility: hidden;
}
.contect-li {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0;
    padding: 0;

}

ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.icon i{
    font-size: 70px; 
    float: left;
}

